<section id="benefits">
    <div class="container-fluid p-0">
        <div class="row g-0">

            <div class="col-lg-4">
                <div class="benefit-box bg-yellow">
                    <h3><i class="bi bi-person-check-fill"></i> PROFESORES DE EXCELENCIA</h3>
                    <p>Profesores titulados, con experiencia y en constante capacitación. Nuestro compromiso es la
                        calidad educativa.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="benefit-box bg-orange">
                    <h3><i class="bi bi-compass-fill"></i> EDUCACIÓN INTEGRAL</h3>
                    <p>Cubrimos la currícula SEP más asignaturas adicionales:</p>
                    <ul>
                        <li>📕 Inglés Diario</li>
                        <li>📘 Computación</li>
                        <li>📒 Educación Física</li>
                        <li>📗 Danza </li>
                        <li>📙 Música</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="benefit-box bg-blue">
                    <h3><i class="bi bi-trophy-fill"></i> GRUPOS REDUCIDOS Y ÉXITO</h3>
                    <p>Promedio de 15 alumnos por grupo para atención personalizada. Ganadores Nacionales en la
                        Olimpiada del Conocimiento.</p>
                </div>
            </div>

        </div>
    </div>
</section>